API_ID=12345
API_HASH=your_api_hash
BOT_TOKEN=your_bot_token
BOT_USERNAME=Ishika_chat_bot
MONGO_DB_URI=mongodb+srv://user:pass@cluster.mongodb.net/
OWNER_ID=123456789
GEMINI_API_KEY=your_gemini_api_key
